<html>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="../app/logo.png" alt="" width="50" height="20"> </a>
    </div>
    <ul class="nav navbar-nav">
      <button style="float:center" class="btn btn-success navbar-btn">Healthy</button>
      <button style="float:center" class="btn btn-warning navbar-btn">Warning</button>
      <button style="float:center" position="center" class="btn btn-danger navbar-btn">Offline</button>
    </ul>
    <button style="float:right" class="btn btn-info navbar-btn">Refresh</button>
  </div>
</nav>
{% block scripts %}{% endblock %}
    <footer>
        WeCheck Container and Node checking
    </footer>

</body>
</html>
